<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>waifu2xOsx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>62CBF6C51CE1C8B0006BE257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62CBF6D61CE1C8B1006BE257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62CBF6E11CE1C8B1006BE257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
